<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .carousel-item {
            height: 350px;
        }
        .margin {
            margin-bottom: 30px;
        }
        .banner {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .card a:hover {
            text-decoration: none;
        }
        .center {
            text-align: center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active item">
                <img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="First slide">
            </div>
        </div>
    </div>

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="
    start=${(items.number / maxPage) * maxPage + 1},
    end=${(items.totalPages == 0) ? 1 : ((start + (maxPage - 1) < items.totalPages) ? start + (maxPage - 1) : items.totalPages)},
    prev=${items.number > 0 ? items.number - 1 : 0},
    next=${(items.number + 1 < items.totalPages) ? items.number + 1 : (items.totalPages > 0 ? items.totalPages - 1 : 0)}
">
        <ul class="pagination justify-content-center">

            <!-- Previous -->
            <li class="page-item" th:classappend="${items.number == 0} ? 'disabled'">
                <a class="page-link"
                   th:if="${items.number > 0}"
                   th:href="@{/(searchQuery=${itemSearchDto.searchQuery}, page=${prev})}"
                   aria-label="Previous">Previous</a>
                <span class="page-link"
                      th:if="${items.number == 0}"
                      aria-hidden="true" aria-disabled="true">Previous</span>
            </li>

            <!-- Page numbers -->
            <li class="page-item"
                th:each="page : ${#numbers.sequence(start, end)}"
                th:classappend="${items.number == (page - 1)} ? 'active'">
                <a class="page-link"
                   th:href="@{/(searchQuery=${itemSearchDto.searchQuery}, page=${page - 1})}"
                   th:text="${page}">1</a>
            </li>

            <!-- Next -->
            <li class="page-item" th:classappend="${items.number + 1 >= items.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:if="${items.number + 1 < items.totalPages}"
                   th:href="@{/(searchQuery=${itemSearchDto.searchQuery}, page=${next})}"
                   aria-label="Next">Next</a>
                <span class="page-link"
                      th:if="${items.number + 1 >= items.totalPages}"
                      aria-hidden="true" aria-disabled="true">Next</span>
            </li>

        </ul>
    </div>

</div>